@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: #994c04;
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: rgb(197, 146, 79);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:#fff;
    background: rgb(237, 191, 131);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: rgb(173, 115, 38);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 2.5rem;
    color:#fff;
}

.header .navbar a:hover{
    color: rgb(214, 180, 136);
    border-bottom: .1rem solid var(214, 180, 136);
    padding-bottom: .5rem;
}


.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.home .wrapper-login {
    position: relative;
    width: 450px;
}

.wrapper-login h2 {
    font-size: 2.5rem;
    color: aliceblue;
    text-align: center;
}

.wrapper-login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 40px;
    font-size: 1.5rem;
    color: aliceblue;
    padding: 1opx;
    gap: 5px;
    text-align: center;
}

.input-box label {
    position: absolute;
    color: #fff;
    top: 25px;
    left: 45px;
    transform: translateY(-50%);
    pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label {
    font-size: 1.5rem;
    top: -14px;
    left: 17px;
}

.input-box .icon {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 2rem;
    color: white;
}

.wrapper-login .remember-forgot {
    font-size: 1rem;
    color: white;
    font-weight: 500;
    margin: -25px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    margin-right: 3px;
    font-size: 1.5rem;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper-login .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: burlywood;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
}

.wrapper-login .register-link {
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 30px 0;
}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}


.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.image{
    display: flex;
    width: 100%;
    transition: 2s;
}

.image img{
    width: 100%;
}

.wrapper{
    width: 600px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#slide-1:target ~ .image{
    margin-left: 0px;
}

#slide-2:target ~ .image{
    margin-left: -100%;
}

#slide-3:target ~ .image{
    margin-left: -200%;
}

#slide-4:target ~ .image{
    margin-left: -300%;
}

.navigation a{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: white;
    font-size: 0px;
    border-radius: 50%;
    margin: 3px;
    transition: 1s;
}

.navigation a:hover{
    background-color: #994c04;
}

.navigation{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -50px;
}



.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border: solid whitesmoke;    
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box-price{
    font-size: 2rem;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contact .row ul{
    float: left;
    margin: 20px;
    font-size: 3.5rem;
}

#contact-form {
    float: right;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    
}

#contact-form label,
#contact-form input,
#contact-form textarea {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

#contact-form button {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ccc;
    color: #000;
    border: none;
}






.footer{
    background: black;
    text-align: center;
}

.footer .text{
    color: white;
    float: left;
    font-size: 2rem;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    border:var(--border);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: rgb(232, 203, 166);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border: solid black;
    font-size: 2rem;
}

.footer .links a:hover{
    background: black;
}

.footer .credit{
    font-size: 2rem;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color: black;
}













/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}